.itemContentDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.itemInfoOnTheRight {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.itemInfoOnTheRightInner {
    padding-left: 0.5em;
    color: rgb(105, 95, 69);
}